In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20, 6

In [4]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [5]:
# train_df.head()

In [6]:
# train_df.describe()

In [7]:
# train_df.isnull().sum()

In [8]:
# test_df.isnull().sum()

In [9]:
# train_df.shape

In [10]:
# train_df.dtypes

In [11]:
# test_df.shape

In [12]:
# test_df.dtypes

In [13]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')

In [14]:
train_df["Datetime"] = train_df["Datetime"].map(dateparse)
test_df["Datetime"] = test_df["Datetime"].map(dateparse)

In [15]:
train_df["DayOfMonth"] = train_df["Datetime"].apply(lambda x: x.day)
test_df["DayOfMonth"] = test_df["Datetime"].apply(lambda x: x.day)
train_df["WeekDay"] = train_df["Datetime"].apply(lambda x: x.weekday())
test_df["WeekDay"] = test_df["Datetime"].apply(lambda x: x.weekday())
train_df["DayCount"] = train_df["Datetime"].apply(lambda x: x.toordinal())
test_df["DayCount"] = test_df["Datetime"].apply(lambda x: x.toordinal())

In [16]:
train_df["Month"] = train_df["Datetime"].apply(lambda x: x.month)
test_df["Month"] = test_df["Datetime"].apply(lambda x: x.month)

In [17]:
# train_df.head()

In [18]:
# train_df.describe()

In [19]:
train_df.index = train_df["Datetime"]
del train_df["Datetime"]

In [20]:
# train_df.head()

In [21]:
train_df = train_df.drop(["ID", "Item_ID"], axis = 1)
#test_df = test_df.drop(["ID", "Item_ID"])

In [22]:
# plot_2014 = train_df["2014"]
# plt.plot(plot_2014["Number_Of_Sales"])

In [23]:
# plot_2015 = train_df["2015"]
# plt.plot(plot_2015["Number_Of_Sales"])

In [24]:
# plot_2016 = train_df["2016"]
# plt.plot(plot_2016["Number_Of_Sales"])

In [25]:
# train_df.describe()

In [26]:
# train_df["Category_2"].describe()

In [27]:
# train_df["Category_2"].value_counts()

In [28]:
# train_df["Category_3"].value_counts()

In [29]:
train_df["Category_2"] = train_df["Category_2"].fillna("other")
test_df["Category_2"] = test_df["Category_2"].fillna("other")

In [30]:
# train_df["Category_2"].value_counts()

In [31]:
sales_Q1 = train_df["Number_Of_Sales"].quantile(0.25)
sales_Q3 = train_df["Number_Of_Sales"].quantile(0.75)
sales_IQR = sales_Q3 - sales_Q1

In [32]:
price_Q1 = train_df["Price"].quantile(0.25)
price_Q3 = train_df["Price"].quantile(0.75)
price_IQR = price_Q3 - price_Q1

In [33]:
cat_1_Q1 = train_df["Category_1"].quantile(0.25)
cat_1_Q3 = train_df["Category_1"].quantile(0.75)
cat_1_IQR = cat_1_Q3 - cat_1_Q1

In [34]:
sales_median = train_df["Number_Of_Sales"].median()
price_median = train_df["Price"].median()
cat_1_median = train_df["Category_1"].median()

In [35]:
sales_median, price_median, cat_1_median

(239.0, 0.513, 176.0)

In [36]:
sales_IQR, price_IQR, cat_1_IQR

(677.0, 1.9449999999999998, 237.0)

In [37]:
cat_1_median - 1.5*cat_1_IQR , cat_1_median + 1.5*cat_1_IQR

(-179.5, 531.5)

In [38]:
train_df.shape

(881876, 9)

In [39]:
# for train ver 2 data
#train_df = train_df[train_df["Number_Of_Sales"] < sales_median + 1.5*sales_IQR]

In [40]:
train_df.shape

(881876, 9)

In [41]:
train_df.head()

,Category_3,Category_2,Category_1,Price,Number_Of_Sales,DayOfMonth,WeekDay,DayCount,Month
Datetime,,,,,,,,,
2014-01-01,0,2,90,165.123,1,1,2,735234,1
2014-01-01,0,2,307,68.666,5,1,2,735234,1
2014-01-01,0,3,67,253.314,2,1,2,735234,1
2014-01-01,0,2,315,223.122,1,1,2,735234,1
2014-01-01,1,2,132,28.750,1,1,2,735234,1

In [42]:
# train_df = train_df[train_df["Price"] < 5]

In [43]:
# train_df.shape

In [44]:
# train_df.corr(method="spearman")

In [45]:
# train_df.corr()

In [46]:
# train_df.head()

In [47]:
# for train ver 2
# train_cat_3 = pd.get_dummies(train_df['Category_3'], prefix="cat_3")
# train_df = pd.concat([train_df, train_cat_3], axis=1)

# test_cat_3 = pd.get_dummies(test_df['Category_3'], prefix="cat_3")
# test_df = pd.concat([test_df, test_cat_3], axis=1)

train_cat_2 = pd.get_dummies(train_df['Category_2'], prefix="cat_2")
train_df = pd.concat([train_df, train_cat_2], axis=1)

test_cat_2 = pd.get_dummies(test_df['Category_2'], prefix="cat_2")
test_df = pd.concat([test_df, test_cat_2], axis=1)

In [48]:
train_df = train_df.drop(["Category_2"], axis=1)
test_df = test_df.drop(["Category_2"], axis=1)
# train_df = train_df.drop(["Category_2", "Category_3"], axis=1)
# test_df = test_df.drop(["Category_2", "Category_3"], axis=1)

In [49]:
# train_df.to_csv("train_xgb_v1.csv")
# test_df.to_csv("test_xgb_v1.csv")

In [50]:
# train_df.head()

In [51]:
train_week = pd.get_dummies(train_df['WeekDay'], prefix="week")
train_df = pd.concat([train_df, train_week], axis=1)

test_week = pd.get_dummies(test_df['WeekDay'], prefix="week")
test_df = pd.concat([test_df, test_week], axis=1)

train_month = pd.get_dummies(train_df['Month'], prefix="month")
train_df = pd.concat([train_df, train_month], axis=1)

test_month = pd.get_dummies(test_df['Month'], prefix="month")
test_df = pd.concat([test_df, test_month], axis=1)

In [52]:
is_weekend = lambda x : 1 if (x>=5) else 0

In [53]:
def financial_quarter(month):
    if month <= 3:
        return 1
    elif ((month >=4) and (month <=6)):
        return 2
    elif ((month >=7) and (month <=9)):
        return 3
    elif ((month >=10) and (month <=12)):
        return 4

In [54]:
train_df["fin_quarter"] = train_df["Month"].apply(financial_quarter)
test_df["fin_quarter"] = test_df["Month"].apply(financial_quarter)

In [55]:
train_df["is_weekend"] = train_df["WeekDay"].apply(lambda x : 1 if (x>=5) else 0)
test_df["is_weekend"] = test_df["WeekDay"].apply(lambda x : 1 if (x>=5) else 0)

In [56]:
train_quarter = pd.get_dummies(train_df['fin_quarter'], prefix="quarter")
train_df = pd.concat([train_df, train_quarter], axis=1)

test_quarter = pd.get_dummies(test_df['fin_quarter'], prefix="quarter")
test_df = pd.concat([test_df, test_quarter], axis=1)

In [57]:
train_df = train_df.drop(["WeekDay", "Month", "fin_quarter"], axis=1)
test_df = test_df.drop(["WeekDay", "Month", "fin_quarter"], axis=1)

In [58]:
train_df.columns

Index(['Category_3', 'Category_1', 'Price', 'Number_Of_Sales', 'DayOfMonth',
       'DayCount', 'cat_2_1.0', 'cat_2_2.0', 'cat_2_3.0', 'cat_2_4.0',
       'cat_2_5.0', 'cat_2_other', 'week_0', 'week_1', 'week_2', 'week_3',
       'week_4', 'week_5', 'week_6', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'is_weekend', 'quarter_1',
       'quarter_2', 'quarter_3', 'quarter_4'],
      dtype='object')

In [59]:
test_df.columns

Index(['Item_ID', 'Datetime', 'Category_1', 'Category_3', 'ID', 'DayOfMonth',
       'DayCount', 'cat_2_1.0', 'cat_2_2.0', 'cat_2_3.0', 'cat_2_4.0',
       'cat_2_5.0', 'cat_2_other', 'week_0', 'week_1', 'week_2', 'week_3',
       'week_4', 'week_5', 'week_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'is_weekend', 'quarter_3',
       'quarter_4'],
      dtype='object')

In [60]:
# train_df.to_csv("train_v2.csv")
# test_df.to_csv("test_v2.csv")
# train_df.to_csv("train_v1.csv")
# test_df.to_csv("test_v1.csv")
train_df.to_csv("train_v3.csv")
test_df.to_csv("test_v3.csv")